{% extends 'base.html' %}

{% block head %}
  <title>Historico: Stop - Sorteador de letra</title>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
  <div class="main">
    <img src="../static/images/Logo_STOP.png" alt="logo sorteador adedonha" class="logo">

    <div class="historico_letras">
      {% if alfabeto %}
        <p><strong>Letras ainda não sorteadas:</strong><br>
          <div class="letras">
            {% for letra in alfabeto %}<p>{{ letra }}</p>{% endfor %}
          </div>
        </p>
      {% else %}
        <p><strong>Todas as letras já foram sorteadas.</strong></p>
      {% endif %}
    </div>

    <div class="letras_sorteadas">
      {% if letras_sorteadas %}
        <p><strong>Letras sorteadas:</strong><br>
          <div class="letras">
            {% for letra in letras_sorteadas %}
              <p>{{ letra }}</p>
            {% endfor %}
          </div>
        </p>
      {% else %}
        <p><strong>Nenhuma letra sorteada ainda</strong></p>
      {% endif %}
    </div>

    <a href="/letra_sorteada" id="link-sortear" class="button-action sortear">Sortear letra</a>
    <a class="button-action menu" href="/menu">Voltar ao menu</a>

    <section id="temporizador" class="temporizador-modal" style="display: none; position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    justify-content: center;
    align-items: center;">
      <div class="temporizador-conteudo" style="background-color: #fff;
      padding: 50px;
      border-radius: 5px;
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      align-items: center;">
        <p id="timer"></p>
  </section>

  </div>
{% endblock %}