{% extends 'base.html' %}

{% block head %}
  <title>Letra sorteada</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
  <div class="main">
    <img src="../static/images/Logo_STOP.png" alt="logo sorteador adedonha" class="logo">

    <p class="subtitle"><strong>LETRA SORTEADA:</strong></p>
    <p class="letra_sorteada">{{ letra }}</p>

    <a href="/historico" class="button-action historico">Ver letras sorteadas</a>
    <a class="button-action menu" href="/menu">Voltar ao menu</a>
  </div>
  
{% endblock %}